<div id="loginModal" ng-controller="loginController" ng-init="initLogin()" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Login</h4>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input ng-model="email" id="email" type="email" class="validate">
            <label for="email">email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input ng-model="password" id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a ng-click="login()" class="modal-action modal-close waves-effect waves-green btn-flat">Login</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
  </div>
</div>
